on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'master'

jobs:
  flake8-lint:
    runs-on: ubuntu-latest
    name: Lint
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3
      - name: Set up Python environment
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: flake8 Lint
        uses: py-actions/flake8@v2
