name: Publish to PyPI

on:
  push:
    branches:
      - main

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41
        with:
          python-version: ${{ matrix.python-version }}
      - name: UV Build
        run: uv build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
